docs/

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*
*.lib

.svn/
obj/
bin/
build/
!data/
xcuserdata/

ipch/
*.suo
*.opensdf


*.abc
*.obj
*.tlog
*.sdf
*.pdb
*.idb
*.pch


*~.xml
*.lib
*.cache